@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-black: #000;
  --color-cornflowerblue: #8eaae5;

  /* Border radiuses */
  --br-sm: 14px;
}
